body {
  margin: 0;
}

header {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link {
  color: #ac66f2;
  text-decoration: none;
  font-size: x-large;
}

.form-container {
  text-align: left;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

fieldset {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background: #f7f9fc;
  flex: 1 1 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

legend {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

form input:focus,
form select:focus {
  border-color: #007bff;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button[type="submit"] {
  background: #007bff;
  color: #fff;
}
